<div class="offcanvas offcanvas-start" tabindex="-1" id="categorySidebar">
    <div class="offcanvas-header border-bottom">
        <h6 class="offcanvas-title fw-bold">Categories</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="categorySidebar">
        <div class="offcanvas-header border-bottom">
            <h6 class="offcanvas-title fw-bold">Categories</h6>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        @await Component.InvokeAsync("CategorySidebar")
    </div>
</div>